.card-title {
    /* background-image: url("https://www.incimages.com/uploaded_files/image/970x450/getty_80116649_344560.jpg"); */
    background-size: 100%;
    background-position-y: 60;
    opacity: .7;
    height: 35px;
    background-repeat: none;
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    /* position: fixed; */
}

.card {
    margin-top: 5px;
    height: 350px;
    width: 450px;
    background-image: url("https://www.incimages.com/uploaded_files/image/970x450/getty_80116649_344560.jpg");
    background-size: 100%;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
    opacity: .9;
    background-repeat: none;
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    float: left;
    bottom: 20%;
    left: 0%;
    overflow: scroll;
}

.messages  * {
    margin: 0;
    padding: 0;
  }
  html, body {
    height: 100%;
    overflow: hidden;
  }
  #wrapper {
    height: 100%;
    width: 200px;
    overflow: auto;
  }

.btn {
    /* position: fixed; */
    float: left;
    bottom: 21%;
    width: 100px;
    left: 13%;

}